<div class="container" style="background-color: rgb(190, 230, 232);">
    <br>
    <h2  style="text-align: center;">Centro de mensajes</h2>
    <div class="container_chat">
            <form action="" id="data_user">
                <div class="mail">
                    <input id="user_name" type="text" name="user" placeholder="mail"class="form-control">
                    <input id="nombre" type="text" name="nombre" placeholder="nombre"class="form-control">
                    <input id="apellido" type="text" name="apellido" placeholder="apellido"class="form-control">
                    <input id="edad" type="number" name="edad" placeholder="edad"class="form-control">
                    <input id="alias" type="text" name="alias" placeholder="alias"class="form-control">
                    <input id="avatar" type="text" name="avatar" placeholder="avatar"class="form-control">

                </div>
                <p id="parrafo"></p>
                <div class="mensaje">
                    <div>
                        <input id="mensaje" type="text" name="message" placeholder="Ingresa tu mensaje"class="form-control">
                    </div>
                    <div>
                        <input type="submit" value="Enviar" class="btn btn-primary">
                    </div>
                </div>
            </form>
    </div>
</div>
